button {
  font-weight: bold;
  background-color: rgb(105,105,105);
  color: rgb(33, 30, 30);
  border: 1px solid rgb(105,105,105);
  margin-top: 1px;
  margin-right: 2px;
  position: absolute;
  top: 1em;
  right: 1.5em;
  width: 6em;
  height: 2em;
  cursor: pointer;
  border-radius: 0.5em;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 100;
  box-shadow: 21px 2px 48px -1px rgba(0, 0, 0, 0.9);
}

.innerNav{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2e2c2c;
}

button.hamburger{
  background-color: rgb(105,105,105);
  z-index: 101;
  position: fixed;
  outline: 0;
  border: none;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

nav .innerNav ul{
  padding: 0;
  position: relative;
  top: 100px;
  margin: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

nav .innerNav li {
  list-style-type: none;
  line-height: 3;
  padding: 0 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

nav .innerNav li a{
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  transition: .4s all ease-in-out;
  user-select: none;
}

nav .innerNav li:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

nav .innerNav li:active{
  transform: scale(0.9);
}

body {
  background: url(https://images.hdqwalls.com/wallpapers/lamborghini-huracan-performante-front-look-lw.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 6em;
  font-weight: 800;
  color: white; 
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
  letter-spacing: 2px; 
  text-transform: uppercase; 
  vertical-align: middle;
  line-height: 4;
  user-select: none;
}

#login-div {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 70vh; 
  margin-left: 80px; 
}

.login-form {
  width: 20em;
  line-height: 3em;
}

.login-form label {
  line-height: 2em;
  color: white;
  font-weight: bold;
  font-size: 45px;
}

.login-form input {
  width: 16em;
  height: 2em;
  border-radius: 5px;
  border: 2px solid black;
  text-align: center;
}

.login-form input[type=submit] {
  width: 17em;
  height: 2.2em;
}


.login-form label {
  line-height: 2em;
  color: white;
  font-weight: bold;
  font-size: 45px;
}

.login-form input {
  width: 16em;
  height: 2em;
  border-radius: 5px;
  border: 2px solid black;
  text-align: center;
}

.login-form input[type=submit] {
  width: 17em;
  height: 2.2em;
}

.specs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.car-card{
  border: 2px solid white;
  border-radius: 13px;
  border-radius: 13px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 20px 40px 33px rgba(254, 254, 254, 0.5);
  color: white;
  width: 35rem;
  height: 39rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0.4em;
  overflow: auto;
}

.car-card img{
  width: 25rem;
  height: auto;
  border-radius: 15px;
}

.car-card h2{
  font-size: 50px;

}

.car-card div {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: flex-start;
}

.car-card div h3{
  font-size: 25px;
  color: white;
}